.site-wrapper
  .site-wrapper-inner
    .cover-container
      .inner.cover
        %h1.cover-heading Welcome to Skeletor.
        %p.lead Please request access below or sign in on the top right.
        %p.lead
          %a.btn.btn-lg.btn-warning{:href => "#"} Learn more
      .mastfoot
        .inner
