-# - content_for :title do
-#   Devgarden
-# .top
-# #first.space
-#   .header-content
-#     .inner.center
-#       = image_tag('gnomelee.png', class: 'gnome img-responsive')
-#       %h4.text-normal Software never had it so good.
