<% content_for :title do %>Skeletor<% end %>
<div class="top">
  <h1>Skeletor</h1>
</div>

<div id="first" class="gnome-top space">
    <div class="header-content">
        <div class="inner center">
            <%= image_tag('gnomelee.png', class: 'gnome img-responsive') %>

            <%= image_tag('DevGarden_Text.png', class: 'gnome-text img-responsive') %>
            
            <h4 class="text-normal">Software never had it so good.</h4>
            
        </div>
    </div>
</div>
