<div class="header-content top">
  <% flash.each do |key, value| %>
    <div class="inner center">
        <h3><%= value %></h3>
    
  <% end %>
  <%= link_to 'Home',  root_path, :class =>'btn btn-lg btn-success'%>
  </div>
</div>