%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.hank.col-md-3

%div.col-md-8
  %h3 andrew pagels

  %h5 passions
  %p.paragraphs Biking, climbing, hiking or otherwise, ascending tall mountains. Long conversations over single origin coffee. Snow. Listening to, talking about, and dancing badly to good music.

  %h5 skills
  %p.paragraphs Product management, five years of starting companies, operations and customer development

  %h5 projects
  %div.row
    %div.col-md-4.team-project-div
      = image_tag "dispatchlogo.png", :class => "img-responsive center-block"
    %div.col-md-4.team-project-div
      = image_tag "grocerygameplanlogo.png", :class => "img-responsive center-block"
    %div.col-md-4.team-project-div
      = image_tag "grantminerlogo.png", :class => "img-responsive center-block"
