%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.hank.col-md-3

%div.col-md-8
  %h3 chris ciacone

  %h5 passions
  %p.paragraphs Fly fishing, entrepreneurship, fly fishing

  %h5 skills
  %p.paragraphs Building things

  %h5 projects
  %div.row
    %div.col-md-12.team-project-div
      = image_tag "ezliftlogo.png", :class => "img-responsive team-project-img"
