%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.col-md-3.profile.christopher

%div.col-md-8
  %h3 christopher pagels

  %h5 passions
  %p.paragraphs Alpine climbing, human behaviors, architecture, goals & dreaming, helping people

  %h5 skills
  %p.paragraphs Operations & process, financial management, developing people, systems engineering

  %h5 projects
  %div.row
    %div.col-md-4.team-project-div
      = image_tag "traclogo.png", :class => "img-responsive center-block"
    %div.col-md-4.team-project-div
      = image_tag "veristride.png", :class => "img-responsive center-block"
    %div.col-md-4.team-project-div
      = image_tag "imslogo.jpg", :class => "img-responsive center-block"
