%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.col-md-3.profile.darren

%div.col-md-8
  %h3 darren

  %h5 passions
  %p.paragraphs Making music, photography, machine learning, tennis

  %h5 skills
  %p.paragraphs Systems architecture, systems integration, 30+ years of programming experience, plyglot solutions

  %h5 projects
  %div.row
    %div.col-md-4.team-project-div
      = image_tag "traclogo.png", :class => "img-responsive center-block"
    %div.col-md-4.team-project-div
      = image_tag "oilcommandlogo.png", :class => "img-responsive center-block"
    %div.col-md-4.team-project-div
      = image_tag "dispatchlogo.png", :class => "img-responsive center-block"
