%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.hank.col-md-3

%div.col-md-8
  %h3 david d'angelo

  %h5 passions
  %p.paragraphs social entrepreneurship, travel, hiking, tennis, golf, volleyball

  %h5 skills
  %p.paragraphs Business development, marketing, building networks around a cause

  %h5 projects
  %div.row
    %div.col-md-12.team-project-div
      = image_tag "datamurallogo.png", :class => "img-responsive team-project-img"
