%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.hank.col-md-3

%div.col-md-8
  %h3 dave roberts

  %h5 passions
  %p.paragraphs Mountain biking, skiing, wine

  %h5 skills
  %p.paragraphs Academic, CEO scientist, cultural warrior, innovator, researcher, funding guru, marketer, strategist, consensus builder

  %h5 projects
  %div.row
    %div.col-md-4.team-project-div
      = image_tag "traclogo.png", :class => "img-responsive center-block"
    %div.col-md-4.team-project-div
      = image_tag "datamurallogo.png", :class => "img-responsive center-block"
    %div.col-md-4.team-project-div
      = image_tag "oilcommandlogo.png", :class => "img-responsive center-block"
