%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.hank.col-md-3

%div.col-md-8
  %h3 kimberley labertew

  %h5 passions
  %p.paragraphs People, riddles, stand up comedy, adventure travel, skiing

  %h5 skills
  %p.paragraphs Strategy Development, continuous improvement, leadership & team development, change management 25 years in management consulting

  %h5 projects
  %div.row
    %div.col-md-4.team-project-div
      = image_tag "traclogo.png", :class => "img-responsive"
    %div.col-md-4.team-project-div
      = image_tag "taplogo.png", :class => "img-responsive"
    %div.col-md-4.team-project-div
      = image_tag "utaglogo.png", :class => "img-responsive"
