%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.col-md-3.profile.stephanie2

%div.col-md-8
  %h3 stephanie stettler

  %h5 passions
  %p.paragraphs Live music, rustic cabins, mentoring womenpreneurs

  %h5 skills
  %p.paragraphs Process thinker, sustainability, impact investing

  %h5 projects
  %div.row
    %div.col-md-4.team-project-div
      = image_tag "traclogo.png", :class => "img-responsive"
    %div.col-md-4.team-project-div
      = image_tag "sustain3logo.png", :class => "img-responsive"
