%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.hank.col-md-3

%div.col-md-8
  %h3 stephanie stettler

  %h5 passions
  %p.paragraphs

  %h5 skills
  %p.paragraphs

  %h5 projects
  %div.row
    %div.col-md-4.team-project-div
      = image_tag "dispatchlogo.png", :class => "img-responsive team-project-img"
    %div.col-md-4.team-project-div
      = image_tag "grocerygameplanlogo.png", :class => "img-responsive team-project-img"
    %div.col-md-4.team-project-div
      = image_tag "grantminerlogo.png", :class => "img-responsive team-project-img"
