%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.col-md-3.profile.stu

%div.col-md-8
  %h3 stu hill

  %h5 passions
  %p.paragraphs Skiing, skydiving, water skiing, hiking, golfing

  %h5 skills
  %p.paragraphs Specialize in knowing a little bit about a lot of things. Mechanical engineer and finance major.

  %h5 projects
  %div.row
    %div.col-md-4.team-project-div
      = image_tag "dispatchlogo.png", :class => "img-responsive"
    %div.col-md-4.team-project-div
      = image_tag "grantminerlogo.png", :class => "img-responsive"
    %div.col-md-4.team-project-div
      = image_tag "datamurallogo.png", :class => "img-responsive"
