%button.close{"data-dismiss" => "modal", :type => "button"}
  %span &times;

%div.hank.col-md-3

%div.col-md-8
  %h3 trenton snyder

  %h5 passions
  %p.paragraphs Music, Smite, mexican food, a good (short) book, Formula 1

  %h5 skills
  %p.paragraphs Development

  %h5 coding languages
  %div.row
    %div.col-md-4.team-project-div
      = image_tag "rubyonrails.png", :class => "img-responsive team-project-img"
