%h3 THIS IS THE TEAM

%container
  %div.row
    %div.col-md-2.col-md-offset-3.col-xs-4
      %div.team-pics.hamster
        %div.circle-inner
    %div.col-md-2.col-xs-4
      %div.team-pics.hamster
        %div.circle-inner
    %div.col-md-2.col-xs-4
      %div.team-pics.hamster
        %div.circle-inner

%container
  %div.row
    %div.col-md-2.col-md-offset-3.col-xs-4
      %div.team-pics.hamster
        %div.circle-inner
    %div.col-md-2.col-xs-4
      %div.team-pics.hamster
        %div.circle-inner
    %div.col-md-2.col-xs-4
      %div.team-pics.hamster
        %div.circle-inner

%container
  %div.row
    %div.col-md-2.col-md-offset-3.col-xs-4
      %div.team-pics.hamster
        %div.circle-inner
    %div.col-md-2.col-xs-4
      %div.team-pics.hamster
        %div.circle-inner
    %div.col-md-2.col-xs-4
      %div.team-pics.hamster
        %div.circle-inner
