.modal-dialog.modal-dialog-portfolio
  .modal-content.modal-content-portfolio
    .modal-header
    .modal-body
      .container

        %div.row.portfolio-row
          .col-md-1.col-xs-3.back-img{"data-dismiss" => "modal", :type => "button"}
            = image_tag('back-btn.png', :class => "back-btn img-responsive")
          .col-md-11.col-xs-9.company-div.title
            %a{:href => 'http://trac-team.com/', :target => '_blank'}
              = image_tag 'traclogo.png', :class => 'company-img img-responsive', :style => "height: 105px", 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'title' => 'check out our site!'

        %div.row.details
          %div.col-md-6.div.col-xs-12.details-text

            %h4.headings trac team
            %p.paragraphs

            %h4.headings project overview
            %p.paragraphs USTAR needed to improve how it supports the commercialization of technologies

            %h4.headings work
            %p.paragraphs Portfolio commercialization management system and streamlined business processes

            %h4.headings services
            %p.paragraphs Strategy, Process Redesign, <br> Application Design & Development, <br> Training, Change Management

            %h4.headings question we helped solve
            %p.paragraphs How to streamline the grant award process, improve the mentoring of successful companies, and build a technology commercialization ecosystem in Utah.

          %div.col-md-6.col-xs-12.details-gallery
            #myCarousel.carousel.slide{"data-ride" => "carousel"}
              / Indicators
              %ol.carousel-indicators
                %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
                %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}

              / Wrapper for slides
              .carousel-inner{:role => "listbox"}
                .item.active
                  = image_tag 'tracmac.png'
                .item
                  = image_tag 'traclogo.png'

              / Left and right controls
              %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel", :role => "button"}
                %span.glyphicon.glyphicon-chevron-left.black{"aria-hidden" => "true"}
                %span.sr-only Previous
              %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel", :role => "button"}
                %span.glyphicon.glyphicon-chevron-right.black{"aria-hidden" => "true"}
                %span.sr-only Next

    .modal-footer
