.trent {
  background-image: image-url('people_pics/trenton.jpg');
}

.stu {
  background-image: image-url('people_pics/stu.jpg');
}

.andrew {
  background-image: image-url('people_pics/andrew.jpg');
}

.stephanie {
  background-image: image-url('people_pics/stephanie.jpg');
}

.stephanie2 {
  background-image: image-url('people_pics/stephanie2.jpg');
}

.kimberley {
  background-image: image-url('people_pics/kimberley.jpg');
}

.kimberley2 {
  background-image: image-url('people_pics/kimberley2.jpg');
}

.russell {
  background-image: image-url('people_pics/russell.jpg');
}

.christopher {
  background-image: image-url('people_pics/newandimprovedchristopher.jpg');
}

.christopher2 {
  background-image: image-url('people_pics/christopher2.jpg');
}

.dave {
  background-image: image-url('people_pics/dave.jpg');
}

.darren {
  background-image: image-url('people_pics/darren.jpg');
}

.profile {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 5px 8px #888888;
  cursor: pointer;
}
