.project-row {
  height: 375px;
  margin-top: 30px;
}


.hide {
  display: none;
}

.project-col {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo-img {
  margin-left: auto;
  margin-right: auto;
}

.left-button {
  margin-top: 12px;

}

.center-button {
  margin-top: 12px;
}

.right-button {
  margin-top: 12px;
}

.project-button {
  background-color: black;
  color: white;
  font-size: 22px;
  text-transform: lowercase;
}

.veristride {
  background-image: url('veristride.png');
  margin-top: 18px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;

}

.iveenamedlogo {
  background-image: url('iveenamedlogo.png');
  margin-top: 18px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.sustain3logo {
  background-image: url('sustain3logo.png');
  margin-top: 18px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.vundertvlogo {
  background-image: url('vundertvlogo.png');
  margin-top: 18px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.oilcommandlogo {
  background-image: url('oilcommandlogo.png');
  margin-top: 18px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.ezliftlogo {
  background-image: url('ezliftlogo.png');
  margin-top: 18px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.grocerygameplanlogo {
  background-image: url('grocerygameplanlogo.png');
  margin-top: 18px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.grantminerlogo {
  background-image: url('grantminerlogo.png');
  margin-top: 18px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.dispatchlogo {
  background-image: url('dispatchlogo.png');
  margin-top: 18px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #88888;
}

.datamurallogo {
  background-image: url('datamurallogo.png');
  margin-top: 18px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.traclogo {
  background-image: url('traclogo.png');
  margin-top: 18px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.digitaldensitylogo {
  background-image: url('digitaldensitylogo.png');
  margin-top: 18px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}

.imslogo {
  background-image: url('digitaldensitylogo.png');
  margin-top: 18px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}
