.project-row {
  height: 375px;
  margin-top: 30px;
}


.hide {
  display: none;
}

.project-col {
  text-align: center;
}

.logo-img {
  margin-left: auto;
  margin-right: auto;
}

.project-button {
  margin-top: 12px;
  line-height: 100%;
  padding: 5px 5px 5px 5px;
  background-color: black;
  color: white;
  font-size: 22px;
  text-transform: lowercase;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}

.project-col a {
  margin-top: 12px;
  display: inline-block;
}

.project-col a:hover {
  background-color: #523795;
}

.clickable-space {
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  height: 150px;
  width: 150px;
}

.veristride {
  background-color: white;
  background-image: url('veristride.png');
  margin-top: 18px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;

}

.iveenamedlogo {
  background-color: white;
  background-image: url('iveenamedlogo.png');
  margin-top: 18px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.sustain3logo {
  background-color: white;
  background-image: url('sustain3logo.png');
  margin-top: 18px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.vundertvlogo {
  background-color: white;
  background-image: url('vundertvlogo.png');
  margin-top: 18px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.oilcommandlogo {
  background-color: white;
  background-image: url('oilcommandlogo.png');
  margin-top: 18px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.ezliftlogo {
  background-color: white;
  background-image: url('ezliftlogo.png');
  margin-top: 18px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.grocerygameplanlogo {
  background-color: white;
  background-image: url('grocerygameplanlogo.png');
  margin-top: 18px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.grantminerlogo {
  background-color: white;
  background-image: url('grantminerlogo.png');
  margin-top: 18px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.dispatchlogo {
  background-color: white;
  background-image: url('dispatchlogo.png');
  margin-top: 18px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.datamurallogo {
  background-color: white;
  background-image: url('datamurallogo.png');
  margin-top: 18px;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.traclogo {
  background-color: white;
  background-image: url('traclogo.png');
  margin-top: 18px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.digitaldensitylogo {
  background-color: white;
  background-image: url('digitaldensitylogo.png');
  margin-top: 18px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.imslogo {
  background-color: white;
  background-image: url('imslogo.jpeg');
  margin-top: 18px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.innovationartslogo {
  background-color: white;
  background-image: url('innovationartslogo.png');
  margin-top: 18px;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}

.lunasoftlogo {
  background-color: white;
  background-image: url('lunasoftlogo.png');
  margin-top: 18px;
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 9px #888888;
}
