.hank {
  background-image: url('hamstertest.jpeg');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 100%;
  box-shadow: 2px 2px 18px #888888;
}
