%div.site-wrapper

  %div.site-wrapper-inner
    

    %div.cover-container
      = render 'layouts/messages'

      %div.inner.cover.center.container
        = link_to "devgarden", root_path, :class => 'logo navbar-brand'
        = link_to 'Sign in', "#sign-in", :class => 'btn btn-lg sign-in btn-warning pull-right navbar-btn', "data-toggle" => "modal"  
        .animated.fadeInUp
          %h1.cover-heading.space Welcome to CrushTopia. 
          %h3.white A land of magic and great software.
        
        %p.lead 
          
    %div{:class => 'modal fade', :id => 'sign-in'}
      %div.modal-dialog
        %div.modal-content
          %div.modal-header
            %button{:class => 'close', 'data-dismiss' => 'modal', "aria-label" => "Close"} &times;
              
            %div.modal-body
              = render 'layouts/signin'
    %div.container          
      %div.info
        %div.col-md-6.col-md-offset-3.center
          %h2 We take a no-bullshit, full-transparency approach to software development.
          %p We keep clients in the know with our proprietary portal. You'll see exactly what you're getting. Tasks, timing, staging environments, billing.
          %p All in one.
        


       





